h2, h3, h1 {
	margin-top: 0px;
	font-size: 28px;
}
.masthead-background {
	background: url(../img/icon.png) no-repeat 520px 35px;
	background-size: 213px 258px;

}
footer {

	height: 110px;
}
.container{
	padding:0px;
}
.li-properties{
	margin-left: 18px;
}
.how-to-make-h{
	font-size: 28px;
}
p {
	font-size: 16px;
	margin-bottom: 51px;
	
}
.masthead p{
font-size: 20px;
}
.img-masthead {
	width: 213px;
	height: 258px;
}
.img-fig {
    left: 180px;
}
.img-fig-2 {
    left: 580px;
}
.button {
	width: 344px;
	height: 72px;
	margin-right: 0px;
}
.button-margin{
	margin-right: 26px;
}
.num {
	margin-left: 22px;
}
.img-easy-mode{
	width: 344px;
	height: 195px;
}
.img-slideshow{
	width: 207px;
	height: 277px;
}
.a-see-other{
	width: 344px;
	height: 72px;
	font-size: 16px;
}
.visit-or-watch {
	width: 344px;
	height: 132px;
	padding-left: 15px;
}
.img-icon{
	width: 100px;
}
.support-contact {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.h-contact{
	font-size: 18px;
	padding-right: 40px;
}
.href-see-full{
	text-align: center;
	margin-top: 20px;
}
.p-slideshow{
	font-size: 16px;
}
ul {
    font-size: 16px;
}
a {
 content: "bya";
}