.masthead {
	padding-bottom: 0px;
}
.container{
	padding-left:15px;
	padding-right: 15px;
}
.col-xs-12{
	padding-right: 0px;
    padding-left: 0px; 
}
.slideshow{
    padding-bottom: 30px;
}
h2, h1 {
	margin-top: 0px;
	font-size: 25px;
}
h3{
	font-size: 24px;
}
.how-to-make-h{
	line-height: 38px;
}
ul {
    font-size: 18px;
}
.button {
	width: 287px;
	height: 72px;
	margin-right: 0px;

}
.p-how-to-item {
    margin-left: 0px;
}
.p-how-to-make {
    padding-left: 0px;
}
.p-step {
    margin-left: 0px;
}
.img-easy-mode {
    width: 288px;
	height: 165px;
}
.num {
	margin-left: 0px;
	margin-right: 8px;
}
.a-see-other {
    width: 287px;
	height: 72px;
}


.visit-or-watch {
	width: 288px;
	height: 132px;
	padding-left: 10px;
	margin-bottom: 32px;
}

.h-contact{
	font-size: 18px;
	padding-left: 0px;
	padding-right:60px;
}
.support-contact {
	 margin-left: 0px;
	 margin-right: 16px;
}
.question{
	padding-bottom: 0px;
}
footer {

	height: 0px;
}
.button-margin-xs {
	 margin-bottom: 30px;

}
.a-slideshow{
margin-bottom: 30px;
}

.button-easy{
	width: 156px;
	height: 64px;
	background-color: #eee;
	border-radius: 0px 6px 0px 0px;
	color: black;
	font-size: 16px;
	margin-left: 0px;
	margin-right: 4px;

}
.button-full-off{
	width: 156px;
	height: 64px;
	opacity: 0.3;
	background-color: #e0e0e0;
	border-radius: 6px 0px 0px;
	opacity: 0.5;
	color: black;
	font-size: 16px;
	border: 0px solid #e0e0e0;
	margin-left: 4px;
}
.features-list >.color{
	background: url(../img/icon_4_diamond-outlined-shape.png) no-repeat 2px 8px;
}
.features-list > .dynamic{
	background: url(../img/icon_2_film.png) no-repeat 2px 8px;
}
.features-list >.create{
	    background: url(../img/icon_1_pictures.b.png) no-repeat 2px 8px;

}
