body {
	min-width: 100%;   
	font-family: "Open Sans";
}
header {
	background-color: #282828;
	height: 75px;
}
footer {
	background-color: #282828;
	height: 189px;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
.col-md-8 > p{
	margin-bottom: 40px;
}
.masthead {
	display: block;
	background: url(img/banner.jpg) no-repeat;
	padding-top: 80px;
	padding-bottom: 60px;
	background-size: 100% 100%;
}
.how-to-make {
	background-color: #ffffff;
	padding-top: 61px;

}
.easy-mode {
	background-color: #eeeeee;
	padding-top: 30px;
	padding-bottom: 50px;
}
.save-your-clip{
	padding-top:30px;
	padding-bottom: 30px;
}
.slideshow {
	background-color: #e1fffa;
	padding-top:60px;
	padding-bottom: 60px;
}
.see-other {
	background-color: #eeeeee;
	padding-top: 60px;
	padding-bottom: 30px;
}
.question{
	padding-bottom: 60px;
	padding-top: 60px;
}
.how-to-make-h{
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
}
.button {
	width: 253px;
	height: 72px;
	background-color: #3581d5;
	border-radius: 6px;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	border: 0px;
	margin-right: 30px;
}
.button:hover {
	background-color: #1962b2;
}
.li-properties{
	margin-left: 24px;
	margin-bottom: 33px;
}
.icon-windows {
	display: inline-block;
	background-position: center;
	vertical-align:text-bottom;
	background-image: url(img/Windows_logo.png);
	background-repeat: no-repeat;
	width: 29px;
	height: 29px;
	margin-right: 5px;	
}		
.icon-mac {
	display: inline-block;
	background-position: center;
	vertical-align:text-bottom;
	background-image: url(img/mac_logo_grey.png); 
	background-repeat: no-repeat;
	width: 29px;
	height: 29px;
	margin-right: 5px;
}
h3 {
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 31px;
}
h2 {
	margin-top: 0px;
	font-size: 40px;
	font-weight: 400;	
}
h1 {
	
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 700;
}
ul {
	opacity: 0.84;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	margin-left: 0;
	-webkit-padding-start: 0px;
}
p {
	opacity: 0.84;
	font-size: 22px;
	font-weight: 400;
}
.num {
	font-size: 35px;
	font-weight: 700;
	color: #f68263;
	margin-right:13px;
	margin-left: 15px;
}
.see-full {
	text-decoration: none;
	color: #3581d5;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	
}
.icon-href {
	margin-right: 13px;
}
.href-see-full{
	text-align: center;
	margin-top: 51px;
}
.features-list li {
	list-style: none;
	padding-left: 50px;
	padding-bottom: 15px;
	background-position: center;
}
.features-list > .create {
	background: url(img/icon_1_pictures.b.png) no-repeat;
}
.features-list > .dynamic {
	background: url(img/icon_2_film.png) no-repeat;
}
.features-list > .titles {
	background: url(img/icon_text.png) no-repeat 4px 0px;

}
.features-list > .color {
	background: url(img/icon_4_diamond-outlined-shape.png) no-repeat;
}
.a-see-other {
	width: 456px;
	height: 72px;
	border: 2px dashed #bdbdbd;
	border-radius: 6px;
	display: block;
	color: #464646;
	text-decoration: none;
	font-style: normal;
	opacity: 0.84;
	font-size: 20px;
	font-weight: 400;
	margin-bottom:30px;
	padding-top:21px;
	padding-left: 14px;	
}
.a-see-other:hover {
	text-decoration: none;
	background-color: #b4d1f2;
	border: 2px dashed transparent;
}
.visit-or-watch {
	width: 456px;
	height: 172px;
	background-color: #e3f0ff;
	border-radius: 6px;
	display: inline-block;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.support-contact {
	display: inline-block;
	width: 140px;
	height: 140px;
	background: #FFF;
	border-radius: 100px;
	margin-top: 15px;
	margin-left: 20px;
	padding: 11px 11px 0;    
}
.h-contact {
	font-size: 22px;
	color: #2eB0e4;
	height: auto;
	line-height: 1.5em;
	max-width: 290px;
	padding-left: 27px;
	text-align: left;
}
.support-text{
	display: inline-block;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 200px;
	margin-bottom: 20px;
}
.img-icon {
	width: 144px;
	margin-left: -12px;
	margin-top: -10px;
}
.support-contact:hover {
	background-color: #efddea;
}
.button-easy{
	color: #fefefe;
	width: 376px;
	height: 68px;
	font-size: 20px;
	font-weight: 400;
	background-color: #3581d5;
	border-radius: 6px 0px 0px 6px;
	border: 0px;
	margin-right:0px;
}
.button-easy-off{
	color: #3581d5;
	width: 376px;
	height: 68px;
	font-size: 20px;
	font-weight: 400;
	background-color: #ffffff;
	border-radius: 6px 0px 0px 6px;
	border: 3px solid #3581d5;
	background-color: #ffffff;
	margin-right:0px;
}


.button-full-off {
	width: 373px;
	height: 68px;
	font-size: 20px;
	font-weight: 400;
	color: #3581d5;
	margin-left: -4px;
	border: 3px solid #3581d5;
	background-color: #ffffff;
	border-radius: 0px 6px 6px 0px;
}
.button-full{
	width: 373px;
	height: 68px;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	margin-left: -4px;
	border: 0px;
	background-color: #3581d5;
	border-radius: 0px 6px 6px 0px;
}

.img-masthead {
	margin-top: 55px;
	display: block;
	margin-right: auto;
	margin-left:auto;
}
.h-see-other{
	text-align: center;
}
.img-easy-mode{
	margin-bottom: 30px;
}
.p-how-to-make{
	padding-left: 17px;
}
.button-how-to-make{
	margin-top: 40px;
	margin-bottom: 30px;
}
.img-fig{

	position:relative;
	margin-top: 15px;
	clear: both;
	left: 380px;
	margin-bottom: -2px;
}
.img-fig-2{

	position:relative;
	margin-top: 15px;
	clear: both;
	left: 680px;
	margin-bottom: -2px;
}
.img-slideshow{
	margin-right: 60px;
}
.no-gutter> [class*='col-'] {
	padding-left: 0px;
	padding-right: 0px;

}
.p-slideshow{
	margin-top:20px;
	margin-bottom: 40px;
	font-size: 20px;
}
.no-gutter .col-md-5:last-of-type{
	padding-left: 20px;
}
.a-slideshow{
	display: block;
	margin-top:10px; 
}